<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div id="header" class="wrap_header" th:fragment="header">
    <div class="top_header">
        <div class="inner_top container">
            <ul class="list_top">
                <li sec:authorize="isAnonymous()">
                    <a href="/login" th:href="@{/login}" class="link_top">로그인</a>
                </li>
                <li sec:authorize="isAnonymous()">
                    <a href="/signup" th:href="@{/users/create}" class="link_top">회원가입</a>
                </li>
                <li sec:authorize="hasRole('ADMIN')">
                    <a href="/roles" th:href="@{/roles}" class="link_top">Role 관리자</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="welcome-message">
                    <span class="username" th:text="${#authentication.name}"></span>님, 환영합니다! ☕
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="logout-btn">로그아웃</button>
                    </form>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/cart" th:href="@{/cart/list}" class="link_top">🛒 장바구니</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="header container">
        <h1 class="tit_logo">
            <a href="/" th:href="@{/}" class="link_logo">
                <img src="/images/logo.png" th:src="@{/images/logo.png}" alt="Beomseok's Coffee" class="logo-img">
            </a>
        </h1>
        <nav class="list_nav">
            <ul>
                <li><a href="/product/coffeebean/list" th:href="@{/product/coffeebean/list}" class="link_nav">원두커피</a></li>
                <li><a href="/product/coldbrew/list" th:href="@{/product/coldbrew/list}" class="link_nav">콜드브루</a></li>
                <li sec:authorize="hasRole('ADMIN')">
                    <a href="/admin/product" th:href="@{/admin/product}" class="link_nav">상품관리</a>
                </li>
                <li><a href="/notices" th:href="@{/notices}" class="link_nav">Notice</a></li>
                <li><a href="/user/qna" th:href="@{/user/qna}" class="link_nav">Q&A</a></li>
                <li sec:authorize="hasRole('ADMIN')">
                    <a href="/admin/create" th:href="@{/admin/create}" class="link_nav">NoticeWrite</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>