<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>장바구니</title>
</head>
<body>
<h2>장바구니</h2>

<table border="1">
  <thead>
  <tr>
    <th>상품명</th>
    <th>가격</th>
    <th>수량</th>
    <th>합계</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="cart : ${cartList}">
    <td th:text="${cart.productDTO.prodName}"></td>
    <td th:text="${#numbers.formatInteger(cart.productDTO.prodPrice, 3, 'COMMA') + '원'}"></td>
    <td th:text="${cart.cartQuantity}"></td>
    <td th:text="${#numbers.formatInteger(cart.productDTO.prodPrice * cart.cartQuantity, 3, 'COMMA') + '원'}"></td>
  </tr>
  </tbody>
</table>

<a href="/order/checkout">결제하기</a>

</body>
</html>