<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Footer Fragment</title>
</head>
<body>
<div id="footer-wrap">
  <div th:fragment="footer">
    <h1>This is the footer</h1>
  </div>
  <div class="footer-main">
    <div id="info-left">
      <h3>Camera Shop</h3>
      <p>대표: 홍길동</p>
      <p>주소: 서울특별시 강남구</p>
      <p>전화: 0000-0000</p>
    </div>
    <div id="info-right">
      <p>고객센터: test@test.com</p>
      <p>운영시간: AM 09:00 - PM 06:00</p>
      <p>SNS:
        <a href="https://www.instagram.com/">Instagram</a>,
        <a href="https://www.youtube.com/">YouTube</a>
      </p>
    </div>
  </div>
</div>
</body>
</html>