HELP.md
# Gradle-related ignore

!gradle/wrapper/ # Include wrapper folder
caches/
daemon/
native/
# Build files
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore build.gradle
build.gradle 임시로 지웠다. 나중에 다시 풀어줘도 된다

# Ignore application.properties
# src/main/resources/application.properties 임시로 지웠다. 나중에 다시 풀어줘도 된다 

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

